<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
This is the home page for this baller thing I am trying to learn.
</p>
<%= link_to "Sign up now!", '#', class: "signup_button round" %>

<p><a href="http://google.com">This is google</a></p>