<footer>
	<nav class="round">
	<ul>
		<li><%= link_to 'About', '#' %></li>
		<li><%= link_to "Contact", '#' %></li>
		<li><a href="http://news.railstutorial.com">News?</a></li>
		<li><a href="http://railstutorial.org">Okay, this stuff is legit</a></li>
	</ul>
	</nav>
</footer>